upstream backend {
    
	 server 192.168.0.32;;
         server 3.133.109.78;
    
        }

        server {
           listen 8099; 
           location / {
               proxy_pass http://backend/;
           }
        }
